/* Landing Page Header */
.header-section {
    background-color: #FFF0ED;
    padding-top: 8.75rem;
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
}

.header-section__title {
    font-weight: 300;
    font-size: 3.75rem;

    display: block;
    width: 35%;
    margin:0;
    padding-left: 8rem;
}

.header-section__description {
    width: 32rem;
    margin-bottom: 2.5rem;
    font-weight: 400;
    font-size: 1.5rem;
}

.header-section__button {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #5BACC3;
    color: #FFF;

    display: inline-block;
    padding: 1rem 2rem;
    border: none;
}

.header-section__photo {
    padding-left: 20rem;
}

/* Product Cards Layout*/
.product-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card {
    background-color: #FFF;
    width: 20rem;
    height: 30rem;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px rgba(0,0,0,0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    padding: 0;
    
}

/* Product Cards Contents */
.product-card__photo {
    height: 280px;
    display: block;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.product-card__description {
    background-color: #FFF0ED;
    margin-top: 2.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-card__description--name {
    margin: 0;
}

.product-card__description--subtext {
    margin: 0;
    font-weight: 300;
    color: #909090;
}

.product-card__description--price {
    color: #5BACC3;
    font-weight: 700;
    font-size: 2.1rem;
}

/* View All Button */
.view-all button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

/* Bottom Section */
.bottom-section {
    background-color: #FFF;
    text-align: center;

    padding: 6rem 6rem 12rem 6rem;

    display:flex;
    flex-direction: column;
    row-gap: 11rem;
}

/* Learn More Section */
.learn-more {
    display: flex;
    justify-content: space-between;
}

.learn-more__intro {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.learn-more__title {
    margin: 0;
    text-align: left;
    width: 65%;
}

.learn-more__description {
    text-align: left;
    width: 65%;
}

.learn-more__image--icons {
    padding-top: 0.25rem;
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.learn-more__button {
    display: flex;
    margin-top: 2rem;
}

.learn-more__link {
    text-decoration: none;
}

.learn-more__image {
    width: 25rem;
    height: 20rem;
    background-image: url(/assets/images/coldbrewbackground.png);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Discount Section */
.discount-code {
    background-color: #393939;
    color: #FFF;

    margin: 0;
    padding: 2rem 0;
}

.discount-code__message--regular {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.discount-code_message--bold {
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}


/* Footer Section */
.footer-section {
    background-color: #FFF0ED;

    display: block;
    margin-left: auto;
    padding: 5rem 5rem;
}

.footer-section__address, .footer-section__hours,
.footer-section__social {
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
}

.footer-section__address p {
    margin: 0;
    width: 20rem;
}

.footer-section__hours p {
    margin: 0;
    width:25rem;
}

.footer-section__hours span{
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
}