@use './partials/global' as *;

$default-background: #393939;

// Menu Page Header //
.menu-header {
    background-image: url(../assets/images/coffee-circle.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 35rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        background-color: $default-background;
        color: #FFF;
    
        margin: 0;
        padding: 3rem 4rem;
        text-align: center;
    }

    &__box {
        width: 280px;
        height: 165px;
        border: 5px solid #5BACC3;
        position: absolute;
        top: auto;
        bottom: 19rem;
        right:36.5rem;
    }
}

// Secondary Navigation //
.secondary-navigation {
    background-color: $default-background;
    width: 100%;
    padding: 0.5px;

    &__list {
        list-style: none;
         text-align: center;
    }

    &__item {
        display: inline;
        border-left: 0.25rem solid #5BACC3;
        padding-left: 1rem;
        padding-bottom: 0;
    }

    &__link {
        background-color: $default-background;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: $default-font-weight;
        color: #FFF;
    
        padding-right: 0.5rem;
        padding-bottom: 0;
    }
}

// Menu Items Background Color //
#hot-drinks, #pastries {
    background-color: #FFF0ED;
}

// Menu Items //

.menu-sections {
    &__title {
        @extend .menu-sections__products;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__products {
        text-align: center;
        margin: 0;
    }

    &__description {
        font-style: italic;
        text-align: center;
        width: 39%;
        margin: auto;
    }

    &__price {
        @extend .menu-sections__products;
        color: #5BACC3;
        padding: 0.25rem;
        padding-bottom: 2rem;
    }
}