// Default font settings//
$font-stack: 'Open Sans';
$default-font-size: 18px;
$default-font-weight: 400;
$light-font-weight: 300;
$bold-font-weight: 700;

body {
    background-color: #F7F7F7;
    font-family: $font-stack;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-size: 3.5rem;
    font-weight: $light-font-weight;
}

h3 {
    font-size: 2rem;
    font-weight: $light-font-weight;
} 

p {
    font-size: 1.5rem;
    font-weight: $default-font-weight;
}

button {
    @extend p;
    text-decoration: none;
    padding: 1rem 2rem;
    border: none;
    background-color: #5BACC3;
    color: #FFF;
    display: flex;
}

// Primary Navigation (For both landing and menu page) //

@mixin nav-text-align {
    text-decoration: none;
    margin-right: 2rem;
}

.primary-navigation {
    background-color: #FFF0ED;
    font-size: 1.2rem;
    font-weight: $default-font-weight;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        margin: 0;
        text-decoration: none;
        display: flex;

        &--position {
            width: 50px;
            vertical-align: text-bottom;
        }
    }

    &__title {
        @extend h2;
        @include nav-text-align();
    
        display: flex;
        margin-top: 0;
        margin-bottom: 0; 
        padding-left: 0.5rem;
    }

    &__link {
        @include nav-text-align();

        &--ShopNow {
            color: #5BACC3;
            text-decoration: none;
        }
    }

    &__box {
        display: flex;
        align-items: center;
    }
}